body{
    padding: 0%;
    margin: 0%;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../../images/bg-verificador-precios-V4_edicion1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: sepia(0.5);
}

.container-btn-return {
    position: static;
    top: 5vh;
    left: 5vw;
    padding: 0%;
    margin: 0%;
    border: none;
    outline: none;
    background: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
}

.container-btn-return:hover {
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
}

.btn-return {
    display: inline;
    position: relative;
    border: none;
    outline: none;
    background-image: url('../../../images/flecha_volver.png');
    background-color: #4d4f5700;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0%;
    margin: 0%;
}



.container-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 75vh;
    min-width: 80%;
    max-width: 92%;
    overflow: auto;
    top: 0vh;
    font-family: sans-serif;
}

.container-btns{
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    max-width: 92%;
    height: 8vh;
}

.container-btns .btn{
    display: inline;
    position: relative;
    min-width:fit-content;
    width: 50%;
    height: 6vh;
    background-color: rgba(16, 112, 136, 0.753);
    border: none;
    outline: none;
}

.btn:hover{
    background-color: rgba(10, 60, 73, 0.753);
}

.btn>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

a>h4{
    margin: 0%;
}

.imgWait {
    position: relative;
    height: auto;
    width: 45%;
    margin-top: 9vh;
    margin-left: 22vw;
}

.container-table table {
    background-color: rgba(220, 220, 220, 0.4);
    text-align: left;
    border: 1.2px solid #1C6EA4;
    border-collapse: collapse;
    width: 100%;
}

.container-table table thead th {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    border-left: 2px solid #8a8a8a;
    white-space: nowrap;    
    background: linear-gradient(to bottom, rgb(16, 112, 136) 55%, rgba(45, 123, 169, 0.42) 86%, #67b7df 100%);
    position: sticky;
    opacity: 0.9;
    top: 0;
    z-index: 1;
}

.container-table table thead th:first-child {
    border-left: none;
}

.container-table table tbody tr:nth-child(odd) {
    background-color: #a1bccf5e;
}

.container-table table tbody tr:nth-child(even) {
    background-color: #ffffff67;
}

.container-table table tbody td {
    border: 1.2px solid #1C6EA4;
    /*background-color: #EEEEEE;*/
    font-size: 15px;
}

table td, table th {
    border: 1px solid #AAAAAA;
    padding: 2px 1px;
    text-align: center;
}

.header-table{
    display: inline-flex;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(77, 79, 87, 0);
    padding: 10px 0px;
    border: none;
    width: -webkit-fill-available;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.header-table:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(11, 76, 92) 25%, rgba(45, 123, 169, 0.42) 86%, #67b7df 100%);
    opacity: 0.9;
}

.inputCheckbox{
    position: relative;
    text-align: center;
    color: black;
    background-color: rgba(77, 79, 87, 0);
    border: none;
    width: 30px;
}

.inputDisable{
    display: inline-flex;
    position: relative;
    text-align: center;
    color: black;
    background-color: rgba(77, 79, 87, 0);
    border: none;
    width: -webkit-fill-available;
}

.inputPrice{
    display: none;
    position: relative;
    text-align: center;
    color: black;
    background-color: rgba(77, 79, 87, 0);
    border: none;
    outline: none;
}

.inputPrice:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.425);
    border: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
}

.form-pagination{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 80%;
    max-width: 92%;
    height: 8vh;
}

.page-controll{
    display: inline-flex;    
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
}

.page-controll>h4 {
    display: inline-block;
    position: relative;
    flex-wrap: nowrap;
}

#inputPage {
    display: inline-block;
    position: relative;
    width: 3.5em;
    text-align: center;
    padding: 2px 1px;
    margin: 1px 0px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.151);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;   
}

#inputPage:hover {
    background-color: rgba(255, 228, 196, 0.336);
    cursor: text;
}

#inputPage::placeholder{
    color: #ffffff;
    font-weight: bold;
}

.btn-pagination {
    background-color: #1c6f71;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 0.2em;
    margin-right: 1px;
}

.btn-pagination:hover {
    background-color: rgba(10, 60, 73, 0.753);
    cursor: pointer;
}

.btn-pagination:focus {
    outline: none;
}