<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Búsqueda', css: '/css/Price/search.css' }}) %>

    <body>
        <div class='busqueda'>        
            <a class='container-btn-return' href="/api/menu">
                <button class='btn-return' title="Volver"></button>
            </a>                 
            <div class='container-busqueda'>
                <h4>
                    Buscar...
                </h4>
                <form class='container-form-busqueda' method='POST' action='/api/menu/prices/table'>
                    <div class='container-input'>
                        <label for='usuario'>Lista de Precios</label>
                        <select class='form-control' name='priceList_name' onchange="selectID(this.value)" required>
                            <option class='optionUser' default></option>
                            <% if (data) { %>
                                <% data.list_name.map(e=> { %>                                    
                                    <option class='optionUser'>
                                        <%= e %>
                                    </option>                                    
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <div style="display: none;">
                        <input type="text" id="hideField" name='priceList_id' value=""/>
                    </div>
                    <div class='container-input'>
                        <label for='product'>Nombre Producto</label>
                        <input type="text" id='product' name='product' class='input-form-busqueda' autoComplete='off' value=''/>
                    </div>
                    <br />
                    <div class='container-btn-form'>                        
                        <button type='submit' class='btn-form'>Ver Lista</button>
                    </div>
                </form>
                <div class='container-btn-form'>
                    <button class='btn-form'><a href="/api/menu/prices/searchMassiveModif"><h4>Modificación Masiva</h4></a></button>
                </div>
            </div>
            <script>

                function selectID(name){
                    let parsed_data = <%-JSON.stringify(data) %>;
                    //console.log(parsed_data);
                    
                    parsed_data.list_name.map(e=>{
                        if(e == name){
                            var position = parsed_data.list_name.indexOf(e);
                            //console.log('posicion: '+position);
                            //console.log('id: '+parsed_data.list_id[position]);
                            document.getElementById('hideField').value = parsed_data.list_id[position];
                        }
                    });                    
                    
                }
                
            </script>
    </body>

</html>