<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link rel=icon href='' sizes="32x32" type="image/ico">
    <link rel="stylesheet" type="text/css" href="">    
</head>
<body>
    <!-- Encabezado -->
    <div class="container-encabezado">

        <!--NavBar boton inicio-->
        <div class="row">                        
            <div class="navbar-btnIni fixed-top dropdown mb-3" style="display: none">                
                <button id="dropdownMenuBoton" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <b>Ingresar</b>
                </button>
                <div class="menuIngreso dropdown-menu dropdown-menuEdit" aria-labelledby="dropdownMenuBoton">
                    <a class="dropdown-item" href="/chofer">Choferes</a>
                    <a class="dropdown-item" href="/admin">Administrador</a>
                </div>
            </div>
        </div>
        <!--Fin NavBar boton inicio-->

        <!--Titulo y subtitulo-->
        <div class="fondo-encabezadoquiensoy fondo-encabezado" style="background: url(/imagenes/taxi.jpg)"></div>

        <div class="tituloysubtitulo tituloysubtituloquiensoy">            

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="subtitulo subtituloquiensoy">
                        <h4>Que es SAFT?</h4>
                        <br>
                        <p>
                            <b>SAFT</b> es una aplicación web que nace con la idea de brindar soporte administrativo a todas aquellas empresas o particulares que requieran de un servicio multiplataforma que les permita almacenar y posteriormente, analizar los datos obtenidos de los relojes taxímetros al final de cada jornada.<br>

                            El sistema fue pensado para ser utilizado por choferes y administradores de taxis, actores fundamentales en este negocio.<br>
                            Los choferes que sean registrados por el administrador, podrán realizar la carga de los tickets y, luego de enviar los correspondientes datos, se les mostrará una nueva pantalla donde se les informara el importe correspondiente a su comisión y el dinero que deben entregar a su administrador.<br>
                            Por otra parte, los administradores que ya se estén registrados en sistema, podrán iniciar sesión con las credenciales que ellos mismos crearon y acceder a las siguientes funcionalidades:<br>
                            >>> <b>Cargar nuevos choferes</b> con sus correspondientes datos y credenciales.<br>
                            >>> <b>Ingresar gastos de mantenimiento</b> de las unidades o móviles a su cargo.<br>
                            >>> <b>Consultar choferes cargados</b>.<br>
                            >>> Acceder a un <b>resumen mensual detallado</b> .<br>
                            >>> Ver los <b>tickets de la última semana</b> donde podrán ver la información más relevante correspondiente a todos los tickets 
                            cargados durante la semana en curso.<br>
                             
                            De esta manera, SAFT permite evitar los cuellos de botella que se generan a nivel administrativo al tener que cargar y procesar grandes cantidades de datos, de muchos móviles, que se acumulan al momento del cambio de turno.<br>
                            Con este sistema los choferes podrán cargar cada uno la información relacionada al cierre de su jornada laboral y los administradores dispondrán de más tiempo para dedicar al planeamiento estratégico, generando una mejor toma de decisiones, gracias a la utilización de un sistema como SAFT que, no sólo les permite evitar las tareas tediosas de carga de datos, sino que también almacena todos sus datos de manera segura y ordenada para que pueda consultarlos cuando lo desee.     
                        </p>                        
                    </div>
                    <br>
                    <div  class = " embed-responsive embed-responsive-16by9 ">
                        <iframe  class = " embed-responsive-item " width="664" height="374" src="https://www.youtube.com/embed/Bbl-vovzzQ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id = " iframeVideo "></iframe>
                    </div>
                    <br>
                    <br>
                    <div class="subtitulo subtituloquiensoy">                        
                        <p>
                           <b>NOTA: </b>Para poder acceder a todas las funcionalidades de esta aplicación deberá registrarse como administrador, registrar un chofer con sus respectivas credenciales de acceso y tener tickets cargados.<br>
                           Si usted sólo desea echar un vistazo a todo lo que SAFT tiene para ofrecerle, puede acceder con las siguientes credenciales genéricas que han sido creadas para tal fin:<br>
                           <u>Administrador</u><br>
                           Usuario: Administrador<br>
                           Clave: admin<br>
                           <u>Chofer</u><br>
                           Usuario: Chofer<br>
                           Clave: chofer<br>
                           Tenga presente respetar mayúsculas y minúsculas.<br>
                           Por cualquier consulta, sugerencia o comentario puede comunicarse con el desarrollador, presionando el botón de "contacto" en la pantalla inicial y seleccionando el medio de comunicación que usted prefiera.     
                        </p>                        
                    </div>                    
                    <br>                    
                    <br>                    
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
            </div>
            <div class="row">                        
                <div class="btnsoy dropdown mb-3">                
                    <button id="dropdownMenuBoton" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <b>Ingresar</b>
                    </button>
                    <div class="menuIngreso dropdown-menu dropdown-menuEdit" aria-labelledby="dropdownMenuBoton">
                        <a class="dropdown-item" href="/chofer">Choferes</a>
                        <a class="dropdown-item" href="/admin">Administrador</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>            
        </div>
        <!--Fin Titulo y subtitulo-->

    </div>
    <!-- Fin Encabezado -->

    <!--Footer-->
    <div class="containerFooter">
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center">© 2020 Copyright:
                <a href="#"> By Bruno Aggazzani.</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>
    <!--Fin Footer-->


    <audio id="player" src="./imagenes/Gotan Project - El capitalismo foraneo.mp3" autoplay></audio>
    <script>        
        document.getElementById('player').volume=0.1;
    </script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="js/script.js"></script>-->
    </div>
</body>

</html>