<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'ABM' , css: '/css/abm.css' }}) %>

    <body>
        <div class="menu-container">
            <div class="card-container">
                <a href="/api/menu" class="anchor-button">
                    <img src="/images/icons/return_blue.png" class="icon">
                    <h5>Volver</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/PLUs.png" class="icon">
                    <h5>PLU's</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/priceList.png" class="icon">
                    <h5>Listas de precios</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/imagenes.png" class="icon">
                    <h5>Imágenes</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/publi.png" class="icon">
                    <h5>Publicidades</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/users.png" class="icon">
                    <h5>Usuarios</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/department.png" class="icon">
                    <h5>Departamentos</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/grupos.png" class="icon">
                    <h5>Grupos</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/ingredientes.png" class="icon">
                    <h5>Ingredientes</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/conservacion.png" class="icon">
                    <h5>Conservación</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/terceros.png" class="icon">
                    <h5>Terceros</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/monedas.png" class="icon">
                    <h5>Monedas</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/paises.png" class="icon">
                    <h5>Países</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/provincias.png" class="icon">
                    <h5>Provincias</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/ciudades.png" class="icon">
                    <h5>Ciudades</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/iva.png" class="icon">
                    <h5>IVA</h5>
                </a>
            </div>            
        </div>
    </body>

</html>