<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Búsqueda PLUs', css: '/css/ABM/PLUs/plu1_0.css' }}) %>

    <body>
        <a id="a-volver" class='container-btn-return' href="/api/menu/abm">
            <button id="btn-volver" class='btn-return' title="Volver" onclick="deleteList()"></button>
        </a>
        <div class='container'>            
            <div id="container-data" class='container-data'>
                <h4>
                    Buscar PLU 
                </h4>
                <form class='container-form-busqueda' id='form-busqueda' method='POST' action='/api/menu/abm/plu'>
                    <div class='container-item-form'>
                        <p>Filtro de búsqueda</p>
                        <div class='container-inputs'>
                            <div class="input-radio">
                                <input type="radio" id='id' name='tipo' value='id' checked onclick="setypeinput(this.id)"/>
                                <label for='code'>Código</label><br>
                            </div>               
                            <div class="input-radio">
                                <input type="radio" id='name' name='tipo' value='name' onclick="setypeinput(this.id)"/>
                                <label for='name'>Nombre</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class='container-item-form'>
                        <p>PLU</p>
                        <div class='container-inputs'>
                            <input type="number" id='product' name='valor' required autocomplete='off'/>
                        </div>
                    </div>
                    <br>                    
                    <br>
                    <div class='container-btn-form'>
                        <button type='submit' class='btn-form' >BUSCAR</button>
                    </div>                    
                </form>                
                <div class='container-btn-form'>
                    <button class='btn-form'>NUEVO</button>
                </div>
            </div>            
            <script>
                //console.log(<%# JSON.stringify(data) %>);
                //localStorage.setItem('list', <%# JSON.stringify(data) %>);
                //let productList = JSON.parse(localStorage.getItem('list'));
                //console.log(productList);
                const product = document.getElementById('product');
                const code = document.getElementById('code');
                const name = document.getElementById('name');

                function setypeinput(id){   ///////////////////////////   setypeinput   /////////////////
                    if (id == 'id') {
                        product.value = '';
                        product.type = 'number';
                    }
                    if (id == 'name') {
                        product.value = '';
                        product.type = 'text';
                    }
                }
                /*
                function buscar() { /////////////////////////////////   Buscar   /////////////////
                    
                    let str = '^';
                    str += product.value.toString();
                    str.trim();
                    
                    let expReg = new RegExp(str, "i");
                   
                    if(name.checked && product.value != '') {
                        let tbody = document.getElementById('data-table');
                        let fragment = document.createDocumentFragment();

                        productList.map((e) => {
                            if (e.name != null && e.name != '' && e.name != undefined){
                                if (e.name.match(expReg) != '' && e.name.match(expReg) != null) {
                                    let tr = document.createElement('tr');
                                    let form = document.createElement('form');
                                    form.method = 'POST';
                                    form.action = '/api/menu/abm/plu';
                                    form.id = e.id;
                                    let td1 = document.createElement('td');
                                    td1.innerHTML = '<button class="btn-form" onClick="sendForm(idForm)">ICON</button>';
                                    form.appendChild(td1);
                                    let td2 = document.createElement('td');
                                    td2.innerHTML = `<input type="text" name="id" value="${e.id}" readonly/>`;
                                    form.appendChild(td2);
                                    let td3 = document.createElement('td');
                                    td3.innerText = `${e.name}`;                                   
                                    form.appendChild(td3);
                                    tr.appendChild(form);
                                    fragment.appendChild(tr);
                                }
                            }                            
                        })
                        tbody.appendChild(fragment);
                        document.getElementById('container-data').style = 'display: none';
                        document.getElementById('container-table').style = 'display: flex';
                        document.getElementById('a-volver').href = '/api/menu/abm/plu';
                        document.getElementById('btn-volver').addEventListener("click", deleteList, false);
                    }

                }

                function sendForm(formu) {  ///////////////////////////   fetchFormProduct   /////////////////
                    console.log('enviando form...');
                    formul = document.getElementById(formu);
                    formul.submit();                      
                }
                
                function deleteList() {  /////////////////////////////////   delete list   /////////////////
                    localStorage.removeItem('list');
                    //productList = [];
                }
                */
            </script>
    </body>

</html>