<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Búsqueda PLUs' , css: '/css/ABM/PLUs/PLU.css' }}) %>

    <body>
        <a id="a-volver" class='container-btn-return' href="/api/menu/abm">
            <button id="btn-volver" class='btn-return' title="Volver"></button>
        </a>
        <div class='container'>            
            <div id="container-data" class='container-data'>
                <h4>
                    Buscar PLU 
                </h4>
                <form class='container-form-busqueda' id='form-busqueda' method='' action=''>
                    <div class='container-item-form'>
                        <p>Filtro de búsqueda</p>
                        <div class='container-inputs'>
                            <div class="input-radio">
                                <input type="radio" id='code' name='tipo' value='code' checked onclick="setypeinput(this.id)"/>
                                <label for='all'>Código</label><br>
                            </div>               
                            <div class="">
                                <input type="radio" id='name' name='tipo' value='name' onclick="setypeinput(this.id)"/>
                                <label for='choose'>Nombre</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class='container-item-form'>
                        <p>PLU</p>
                        <div class='container-inputs'>
                            <input type="number" id='product' name='PLU' required/>
                        </div>
                    </div>
                    <br>                    
                    <br>
                    <div class='container-btn-form'>
                        <button type='submit' class='btn-form' onclick="buscar()">BUSCAR</button>
                    </div>                    
                </form>
                <!--
                <div class='container-btn-form'>
                    <button class='btn-form'>VER TODO</button>
                </div>
                -->                
                <div class='container-btn-form'>
                    <button class='btn-form'>NUEVO</button>
                </div>
            </div>
            <div id="container-data2" class="container-data2" style="display: none">
                <table id='myTable'>
                    <thead>
                        <tr>
                            <th>ICON</th>
                            <th>CÓDIGO</th>
                            <th>NOMBRE</th>                                                                                          
                        </tr>
                    </thead>
                    <tbody id="data">
                        
                    </tbody>
                </table>
            </div>
            <script>
                localStorage.setItem('list', <%- JSON.stringify(data) %>);
                let productList = JSON.parse(localStorage.getItem('list'));
                //console.log(productList);
                const product = document.getElementById('product');
                const code = document.getElementById('code');
                const name = document.getElementById('name');

                function setypeinput(id){   ///////////////////////////   setypeinput   /////////////////
                    if (id == 'code') {
                        product.value = '';
                        product.type = 'number';
                        product.pattern = "[0-9]+";
                    }
                    if (id == 'name') {
                        product.value = '';
                        product.type = 'text';
                        product.pattern = "";
                    }
                }

                function buscar() { /////////////////////////////////   Buscar   /////////////////
                    
                    let str = '^';
                    str += product.value.toString();
                    str.trim();
                    
                    let expReg = new RegExp(str, "i");
                    //let resultList = [];
                    let body = ``;

                    if(code.checked && product.value != '') {
                        productList.map((e) => {
                            if (e.id != null && e.id != '' && e.id != undefined){
                                if (e.id.match(expReg) != '' && e.id.match(expReg) != null) {
                                    body += `<tr>                                                
                                                <td><button onClick="fetchFormProduct(${e.id})">ICON</button></td>
                                                <td>${e.id}</td>
                                                <td>${e.name}</td>                                                
                                            </tr>`;
                                }
                            }                            
                        })
                        document.getElementById('container-data').style = 'display: none';
                        document.getElementById('container-data2').style = 'display: flex; width: 80%; height: 75vh; overflow: auto';
                        document.getElementById('data').innerHTML = body;
                        document.getElementById('a-volver').href = '/api/menu/abm/plu';
                        document.getElementById('btn-volver').addEventListener("click", deleteList, false);
                    }
                    
                    if(name.checked && product.value != '') {
                        productList.map((e) => {
                            if (e.name != null && e.name != '' && e.name != undefined){
                                if (e.name.match(expReg) != '' && e.name.match(expReg) != null) {
                                    body += `<tr>                                                
                                                <td><button onClick="fetchFormProduct(${e.id})">ICON</button></td>
                                                <td>${e.id}</td>
                                                <td>${e.name}</td>                                                
                                            </tr>`;
                                }
                            }                            
                        })
                        document.getElementById('container-data').style = 'display: none';
                        document.getElementById('container-data2').style = 'display: flex; width: 80%; height: 75vh; overflow: auto';
                        document.getElementById('data').innerHTML = body;
                        document.getElementById('a-volver').href = '/api/menu/abm/plu';
                        document.getElementById('btn-volver').addEventListener("click", deleteList, false);
                    }

                }

                function fetchFormProduct(id) {  ///////////////////////////   fetchFormProduct   /////////////////
                    console.log('fetchFormProduct - id: '+id);
                    let url = '/api/menu/abm/plu';
                    let fetchData = {
                        method: 'POST',
                        body: JSON.stringify({id: id}),
                        headers: new Headers({'content-type': 'application/json'})
                    };

                    fetch(url, fetchData)
                      .then((resp) => {
                            resp.json();
                            //console.log(resp);
                      })
                      .then((dato) => {
                            console.log('Data: '+JSON.parse(dato));
                      })
                      .catch((e) => {
                            console.log(e);
                      });
                }

                function deleteList() {  /////////////////////////////////   delete list   /////////////////
                    localStorage.removeItem('list');
                    productList = [];
                }
                
            </script>
    </body>

</html>