
<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Búsqueda PLUs' , css: '/css/ABM/PLUs/PLU.css' }}) %>

    <body>
        <a id="a-volver" class='container-btn-return' href="/api/menu/abm">
            <button id="btn-volver" class='btn-return' title="Volver"></button>
        </a>
        <div class='container'>
            <div id="container-data" class='container-data'>
                <p>
                    <%- JSON.stringify(data) %>
                </p>
            </div>           
    </body>

</html>