<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Descuentos', css: '/css/ABM/PLUs/plu_table_discount.css' }}) %>

    <body>
        <div class="table">
            <div class="container-table">
                <table id='myTable'>
                    <thead>
                        <tr>
                            <th>
                                <input class="header-table" type="text" value="HASTA" readonly>
                            </th>
                            <th>
                                <input class="header-table" type="text" value="PRECIO" readonly>
                            </th>
                            <th class="th-icon">
                                <input class="header-icon" type="text" value="" readonly>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data !=='' && data !==null && data !==undefined) { %>
                            <% for (var i=0; i < data.length; i++ ) { %>
                                <tr>
                                    <form method="POST" id="formUpdateDelete" action="/api/menu/abm/plu/formEditGral/updateDiscount">
                                        <input style="display: none" type="text" name="discountid" value="<%= data[i].id %>"/>
                                        <td>
                                            <input class="inputPrice" type="number" name="hasta"
                                                value="<%= data[i].hasta %>" 
                                                onclick="this.value=''" onchange="this.form.submit()" required/>
                                        </td>
                                        <td>
                                            <input class="inputPrice" type="number" name="precio"
                                                value="<%- parseInt(data[i].precio).toFixed(2) %>"
                                                onclick="this.value=''" onchange="this.form.submit()" required/>
                                        </td>
                                        <td class="td-icon">
                                            <input type='button' class="btn-td-icon-delete" onclick="formDelete(this.form)">
                                        </td>                                        
                                    </form>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="3">No hay registros!</td>
                            </tr>
                        <% } %>
                        <tr>
                            <form method="POST" id="formInsert" action="/api/menu/abm/plu/formEditGral/createDiscount">
                                <input style="display: none" type="text" name="discountid" value="SELECT get_uuid()">
                                <td>
                                    <input class="inputNewPrice" type="number" name="hasta" required />
                                </td>
                                <td>
                                    <input class="inputNewPrice" type="number" name="price" required />
                                </td>
                                <td class="td-icon">
                                    <input type='submit' value='' class="btn-td-icon-create" />
                                </td>                                
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            //console.log(<%#-JSON.stringify(data)%>);
            
            function formDelete(formId) {
                let oForm = formId;
                oForm.setAttribute("action", '/api/menu/abm/plu/formEditGral/deleteDiscount');
                if (oForm) {
                    oForm.submit();
                }
            }

        </script>
    </body>

</html>