<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Listas de Precios' , css: '/css/ABM/PLUs/plu_table_pricelist.css' }}) %>

    <body>
        <div class="table">
            <div class="container-table">
                <table id='myTable'>
                    <thead>
                        <tr>
                            <th>
                                <input class="header-table" type="text" value="LISTA DE PRECIO" readonly>                                
                            </th>
                            <th>                                
                                <input class="header-table" type="text" value="PRECIO" readonly>                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <% if (data !== '' && data !== null && data !== undefined) { %>
                            <% for (var i=0; i < data.length; i++ ) { %>
                                <tr>
                                    <form method="POST" action="/api/menu/abm/plu/formEditGral/updatePricelist">
                                        <input style="display: none" type="text" name="idlist" value="<%= data[i].pricelist %>">
                                        <td><input class="inputDisable" type="text" name="namelist" value="<%= data[i].nombre %>" readonly></td>                                        
                                        <td><input class="inputPrice" type="number" name="price" value="<%- parseInt(data[i].precio).toFixed(2) %>" onclick="this.value=''" onchange="this.form.submit()" /></td>
                                    </form>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="2">No hay registros!</td>
                            </tr>
                        <% } %>                            
                    </tbody>
                </table>
            </div>            
        </div>
        <script>
            //console.log(<%#-JSON.stringify(data)%>);

            function submitForm(formId) {
                var oForm = document.getElementById(formId);
                if (oForm) {
                    oForm.submit();
                }
            }

        </script>
    </body>

</html>