<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Búsqueda PLUs', css: '/css/ABM/PLUs/plu_form_1.css' }}) %>

    <body>
        <a id="a-volver" class='container-btn-return' href="/api/menu/abm">
            <button id="btn-volver" class='btn-return' title="Volver" onclick="deleteList()"></button>
        </a>
        <div class='container'>            
            <div id="container-data" class='container-data'>
                <h4>
                    Buscar PLU 
                </h4>
                <form class='container-form-busqueda' id='form-busqueda' method='POST' action='/api/menu/abm/plu'>
                    <div class='container-item-form'>
                        <p>Filtro de búsqueda</p>
                        <div class='container-inputs'>
                            <div class="input-radio">
                                <input type="radio" id='id' name='tipo' value='id' checked onclick="setypeinput(this.id)"/>
                                <label for='code'>Código</label><br>
                            </div>               
                            <div class="input-radio">
                                <input type="radio" id='name' name='tipo' value='name' onclick="setypeinput(this.id)"/>
                                <label for='name'>Nombre</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class='container-item-form'>
                        <p>PLU</p>
                        <div class='container-inputs'>
                            <input type="number" id='product' name='valor' required autocomplete='off'/>
                        </div>
                    </div>
                    <br>                    
                    <br>
                    <div class='container-btn-form'>
                        <button type='submit' class='btn-form' >BUSCAR</button>
                    </div>                    
                </form>                
                <div class='container-btn-form'>
                    <button class='btn-form'>NUEVO</button>
                </div>
            </div>            
            <script>
                const product = document.getElementById('product');                

                function setypeinput(id){   ///////////////////////////   setypeinput   /////////////////
                    if (id == 'id') {
                        product.value = '';
                        product.type = 'number';
                    }
                    if (id == 'name') {
                        product.value = '';
                        product.type = 'text';
                    }
                }                
            </script>
    </body>

</html>