<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Menu' , css: '/css/Menu/menu.css' }}) %>

    <body>
        <div class="menu-container">
            <div class="card-container">
                <a href="/api/sigin" class="anchor-button">
                    <img src="/images/icons/assistPrice.png" class="icon">
                    <h5>Asistente de precios</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/api/menu/abm" class="anchor-button">
                    <img src="/images/icons/altaBaja.png" class="icon">
                    <h5>Altas y bajas</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/api/menu/reports" class="anchor-button">
                    <img src="/images/icons/reports.png" class="icon">
                    <h5>Reportes</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/api/menu/settings" class="anchor-button">
                    <img src="/images/icons/settings53.png" class="icon">
                    <h5>Configuración</h5>
                </a>
            </div>
        </div>
    </body>

</html>