<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: __('Cuora Neo Web'), css: '/css/inicio.css'}}) %> 

<body>
<div class='login'>
    <div class='container-login'>
        <h3><%=__('Bienvenido')%></h3>
        <form class='container-form-login' method='POST' action='/api/menu/'>
            <!--
            <div class="container-input-idioma">
                <label for="idioma">Idioma</label>
                <div class='languagesLogin'>
                    <button class='btn-lang-login' onClick="changeLanguage('es')"><strong id='es'>ES</strong></button>
                    <button class='btn-lang-login' onClick="changeLanguage('br')"><strong id='br'>BR</strong></button>
                    <button class='btn-lang-login' onClick="changeLanguage('en')"><strong id='en'>EN</strong></button>
                </div>
            </div>
            -->
            <div class='container-input'>
                <label for='usuario'>Usuario</label>
                <select class='form-control' name='user' required>
                    <% if (data) { %>
                        <% data.usuarios.map(e => { %>
                            <% if (e.username === 'Supervisor') { %>
                                <option class='optionUser' selected>
                                    <%= e.username %>
                                </option> 
                            <% } else { %>
                                <option class='optionUser'>
                                    <%= e.username %>
                                </option>
                            <% } %>                            
                        <% }) %>
                    <% } %>
                </select>
            </div>
            <div class='container-input'>
                <label for='contrase침a'>Contrase침a</label>
                <input type="password" id='pass' name='pass' placeholder='Contrase침a'
                    class='input-form-login' autoComplete='off'  required/>
            </div>
            <br />
            <div class='container-btn-form'>
                <button type='submit' class='btn-form'>ACEPTAR</button>
            </div>
        </form>
        <div class='container-version'>
            <h6>versi칩n 6.3.98.736</h6>
        </div>
    </div>
</body>

</html>