<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Success!' , css: '/css/Success/success.css' }}) %>

    <body>
        <div class="containerError">            
            <div class="image"></div>
            <h3><%= dataSuccess.mje %></h3>
            <button type='button' class='btn-form'><a href='<%= dataSuccess.href %>'><b><%=__('btn_aceptar')%></b></a></button>            
        </div>
    </body>

</html>