<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Error!' , css: '/css/error.css' }}) %>

    <body>
        <div class="containerError">
            <div>
                <h3>
                    <%=dataError.mje%>
                </h3>
                <br>
                <h4></h4>
                <button type='button' class='btn-form'><a href='<%=dataError.href%>'><b>ACEPTAR</b></a></button>
            </div>
        </div>
    </body>

</html>