<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Settings' , css: '/css/Settings/settings.css' }}) %>

    <body>
        <div class="menu-container">
            <div class="card-container">
                <a href="/api/menu" class="anchor-button">
                    <img src="/images/icons/return_blue.png" class="icon">
                    <h5>Volver</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/general.png" class="icon">
                    <h5>General</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/redes.png" class="icon">
                    <h5>Redes</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/accesos.png" class="icon">
                    <h5>Accesos</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/calendar68.png" class="icon">
                    <h5>Fecha y Hora</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/codBar.png" class="icon">
                    <h5>Códigos de Barra</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/connectDB.png" class="icon">
                    <h5>Conectividad DB</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/optimDB.png" class="icon">
                    <h5>Optim. DB</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/backupDB.png" class="icon">
                    <h5>Backup DB</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/restoreDB.png" class="icon">
                    <h5>Restore DB</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/valorFab.png" class="icon">
                    <h5>Valores Fábrica</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/version.png" class="icon">
                    <h5>Versión</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/tickets.png" class="icon">
                    <h5>Tickets</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/etiquetas.png" class="icon">
                    <h5>Etiquetas</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/asigFormat.png" class="icon">
                    <h5>Asignar Formatos</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/activar.png" class="icon">
                    <h5>Activar</h5>
                </a>
            </div>
        </div>
    </body>

</html>