<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Reportes' , css: '/css/Reports/reports.css' }}) %>

    <body>
        <div class="menu-container">
            <div class="card-container">
                <a href="/api/menu" class="anchor-button">
                    <img src="/images/icons/return_blue.png" class="icon">
                    <h5>Volver</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/vtaPorDia.png" class="icon">
                    <h5>Ventas por Día</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/users.png" class="icon">
                    <h5>Ventas por Vendedor</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/vtaPorPLU.png" class="icon">
                    <h5>Ventas por PLU</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/reports.png" class="icon">
                    <h5>Cierre de Ventas</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/grupos.png" class="icon">
                    <h5>Grupos</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/department.png" class="icon">
                    <h5>Departamentos</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/listaPrecio.png" class="icon">
                    <h5>Lista de Precios</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/priceList.png" class="icon">
                    <h5>Precios de PLU</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/tasaIVA.png" class="icon">
                    <h5>Tasas de IVA</h5>
                </a>
            </div>
            <div class="card-container">
                <a href="/" class="anchor-button">
                    <img src="/images/icons/iva.png" class="icon">
                    <h5>Ventas por IVA</h5>
                </a>
            </div>            
        </div>
    </body>

</html>